@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: cornflowerblue;
}


h1 {
  text-align: center;
  color: yellow;
  text-shadow: 2px 2px crimson;
  text-decoration-line: overline underline;
}


#menu {
  position: relative;
  display: grid; 
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  background-image: url("background.png"); 
  background-repeat: no-repeat;
  background-size: contain;
}

#buttons {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  overflow: scroll;
  margin: 10px;  
}

.box_level {
  margin: 10px;
  padding-top: 30px;
  padding-bottom: 30px; 
}

#startButton {
  margin: 50% 5% 0% 5% ;
  padding: 5% 40% 5% 40%; 
}

#level {
  display: grid; 
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(9, 1fr);
  position: absolute;
  height: 100%;
  width: 100%;
}

#map {
  grid-area: 1 / 1 / 9 / 17;
  background-color: limegreen;
  position: relative;
  padding-bottom: 1px;
  background-image: url(img/map_1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/*#field td {
  position: relative;
}*/
#infobar {
  grid-area: 9 / 1 / 9 / 17;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: magenta;
}

#ak {
  color: green;
}

#tp {
  color: red;
}

#wavecount {
  color: black;
}

#buymenu_wrapper {
  display: grid;
  grid-area: 1 / 17 / 8 / 22; 
  grid-template-columns: 1fr 1fr;
  overflow: scroll;
  background-color: yellow;
}

#buymenu {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: scroll;
  margin: 10px;  
}

#powerupMenu {
  grid-area: 8 / 17 / 10 / 22;
  display: grid; 
  grid-template-columns: 1fr 1fr;
  background-color: turquoise;
}

.corona {
  height: 40px;
  width: 40px;
  
  /* Aussehen */
  background-image: url(img/corona.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* Positionierung */ 
  position: absolute;
}

.turm {
  height: 10px;
  width: 10px;
  background: darkgoldenrod;
  position: absolute;
}

