@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
    background-color: cornflowerblue;
  background-image: url("background.png"); 
  background-repeat: no-repeat;
  background-size: contain;
}


h1 {
  text-align: center;
  color: yellow;
  text-shadow: 2px 2px crimson;
  text-decoration-line: overline underline;
}


.wrapper {
  position: relative;
  display: grid; 
  grid-template-columns: 1fr 1fr;
  height: 100vh;


}

.buttons {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  overflow: scroll;
  margin: 10px;  
}

.box_level {
  margin: 10px;
  padding-top: 40px;
  padding-bottom: 40px; 
}

.startButton {
  margin: 50% 5% 0% 5% ;
  padding: 5% 40% 5% 40%; 
  }



