@import url(https://fonts.googleapis.com/css?family=Roboto);

@media screen and (orientation: portrait) {

  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  #portrait {
    display: grid;
    grid-area: auto;
    height: 100%;
    width: 100%;
    background-color: cornflowerblue;
    font-size:15vw;
    text-align: center;
    padding-top: 50%;
    text-shadow: rgba(0, 0, 255, 0.212);
  }

  #level {
    display: none; 
  }
}

@media screen and (orientation: landscape) {
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: cornflowerblue;
  background-image: url(img/background_level.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#portrait {
  display: none;
  height: 100%;
  width: 100%;
  background-color: cornflowerblue;
}

h1 {
  text-align: center;
  color: yellow;
  text-shadow: 2px 2px crimson;
  text-decoration-line: overline underline;
}


#menu {
  position: relative;
  display: grid; 
  grid-template-columns: 1fr 1fr;
  height: 100%;
  background-image: url("img/background_monster.png"); 
  background-repeat: no-repeat;
  background-size: contain;
}

#buttons {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  overflow: scroll;
  margin: 10px;  
  border-color: white;
}

.sell_tower {
  margin: 10px;
  padding-top: 30px;
  padding-bottom: 30px; 
  background-color: green;
  height: 70px;
  width: 70px;
  cursor: move;
}

.buy_tower {
  margin: 10px;
  padding-top: 30px;
  padding-bottom: 30px; 
  background-color: pink;
  height: 70px;
  width: 70px;
  cursor: move;
}

.upgrade_tower {
  margin: 10px;
  padding-top: 30px;
  padding-bottom: 30px; 
  background-color: pink;
  height: 70px;
  width: 70px;
  cursor: move;
}

.buy_text {
  text-align: center;
  color: greenyellow;
}

.sell_text {
  text-align: center;
  color: green;
  background-color: rgba(0, 0, 0, 0.473);
}

.upgrade_cost {
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  color: red;
  background-color: rgba(0, 0, 0, 0.473);
}

.upgrade_gain {
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  color: green;
  background-color: rgba(0, 0, 0, 0.473);
}

.box_level {
  margin: 10px;
  padding-top: 30px;
  padding-bottom: 30px; 
  color: yellow;
  height: 100px;
}

.tower_spot {
  height: 50px;
  width: 50px;
  background: cornflowerblue;
  position: absolute;

}

#startButton {
  margin: 30% 5% 5% 5% ;
  padding: 5% 40% 5% 40%;
  background-color: yellow;
  font-size: larger;
  border-radius: 10px; 
}

#back_button {
  margin: 5% 50% 5% 50% ;
  padding: 10% 5% 10% 5%;
  background-color: darkred;
  color: yellowgreen;
  font-size: larger;
  border-radius: 10px; 
}

#menueButton {
  display: grid;
  grid-area: 7 / 10 / 8 / 12;
  position: relative;
  background-color: #43e40e;
  font-size: larger;
  padding: 15%;
  border-radius: 10px;
}

#restartButton {
  display: grid;
  grid-area: 7 / 13 / 8 / 16;
  position: relative;
  background-color: #43e40e;
  font-size: larger;
  padding: 10%;
  border-radius: 10px;
}

#level {
  display: grid; 
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(9, 1fr);
  position: absolute;
  height: 100%;
  width: 100%;
}

#map {
  grid-area: 1 / 1 / 9 / 17;
  background-color: limegreen;
  position: relative;
  padding-bottom: 1px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#gameover {
  grid-area: 1 / 1 / 9 / 17;
  background-image: url("img/gameover.png"); 
  position: relative;
  padding-bottom: 1px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#win {
  grid-area: 1 / 1 / 9 / 17;
  background-image: url("img/win.png"); 
  position: relative;
  padding-bottom: 1px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.wp {
  display: none;
  height: 15%;
  width: 8%;
  border-radius: 50%;
  background-color: cornflowerblue;
  position: absolute;
  animation-name: pulse;
  animation-duration: 1s;
}


.blutzelle {
  height: 14%;
  width: 14%;
  background-image: url(img/blutzelle.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.blutzelleU1 {
  height: 14%;
  width: 14%;
  background-image: url(img/herz.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}


.blutzelleU2 {
  height: 14%;
  width: 14%;
  background-image: url(img/blutzelle.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

#blutzelle {
  background-image: url(img/blutzelle.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
}

#blutzelleU1 {
  background-image: url(img/herz.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
}


#blutzelleU2 {
  background-image: url(img/blutzelle.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
}

.auge {
  height: 15%;
  width: 15%;
  background-image: url(img/auge.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

#auge {
  background-image: url(img/auge.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
}

.niere {
  height: 15%;
  width: 15%;
  background-image: url(img/niere.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

#niere {
  background-image: url(img/niere.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
}

.lunge {
  height: 15%;
  width: 15%;
  background-image: url(img/lunge.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

#lunge {
  background-image: url(img/lunge.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
}

.herz {
  height: 15%;
  width: 15%;
  background-image: url(img/herz.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  animation-name: pulse;
  animation-duration: 1s;
}

#herz {
  background-image: url(img/herz.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  
}

#infobar {
  grid-area: 9 / 1 / 9 / 17;
  display: flex;
  background-color: rgba(0, 0, 0, 0.473);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-top: 3px black solid;
}

#ak {
  color: green;
  text-align: center;
  font-size: 1.5em;
}

#tp {
  color: red;
  text-align: center;
  font-size: 1.5em;
}

#wavecount {
  color: rgb(55, 125, 190);
  text-align: center;
  font-size: 1.5em;
}

#buymenu_wrapper {
  display: grid;
  grid-area: 1 / 17 / 8 / 22; 
  grid-template-columns: 1fr 1fr;
  overflow: scroll;
  border-left: 3px black solid;
}

#powerupMenu {
  grid-area: 8 / 17 / 10 / 22;
  display: grid; 
  grid-template-columns: 1fr 1fr;
  border-top: 3px black solid;
  border-left: 3px black solid;
}

.corona {
  height: 10%;
  width: 6%;
  
  /* Aussehen */
  background-image: url(img/corona.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* Positionierung */ 
  position: absolute;
}

.corona.boss {
  height: 15%;
  width: 8%;
  
  /* Aussehen */
  background-image: url(img/corona.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* Positionierung */ 
  position: absolute;
}

.corona.dmg {
  border-radius: 50px;
  animation-name: hit;
  animation-duration: 0.25s;
}

.mrsa {
  height: 10%;
  width: 6%;
  
  
  /* Aussehen */
  background-image: url(img/mrsa.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* Positionierung */ 
  position: absolute;
}

.mrsa.boss {
  height: 15%;
  width: 6%;
  
  
  /* Aussehen */
  background-image: url(img/mrsa.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* Positionierung */ 
  position: absolute;
}

.mrsa.dmg {
  border-radius: 50px;
  animation-name: hit;
  animation-duration: 0.25s;
}

.grippe {
  height: 10%;
  width: 6%;
  
  /* Aussehen */
  background-image: url(img/grippe.png); 
  background-repeat: no-repeat;
  background-size: contain;
  /* Positionierung */ 
  position: absolute;
}

.grippe.boss {
  height: 15%;
  width: 8%;
  
  /* Aussehen */
  background-image: url(img/grippe.png); 
  background-repeat: no-repeat;
  background-size: contain;
  /* Positionierung */ 
  position: absolute;
}

.grippe.dmg {
  border-radius: 50px;
  animation-name: hit;
  animation-duration: 0.25s;
}

.hsv {
  height: 10%;
  width: 6%;
  
  /* Aussehen */
  background-image: url(img/hsv.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* Positionierung */ 
  position: absolute;
}

.hsv.boss {
  height: 15%;
  width: 8%;
  
  /* Aussehen */
  background-image: url(img/hsv.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* Positionierung */ 
  position: absolute;
}

.hsv.dmg {
  border-radius: 50px;
  animation-name: hit;
  animation-duration: 0.25s;
}

.clostridien {
  height: 10%;
  width: 6%;
  
  /* Aussehen */
  background-image: url(img/clostridien.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* Positionierung */ 
  position: absolute;
}

.clostridien.boss {
  height: 15%;
  width: 8%;
  
  /* Aussehen */
  background-image: url(img/clostridien.png); 
  background-repeat: no-repeat;
  background-size: contain;
  /* Positionierung */ 
  position: absolute;
}

.clostridien.dmg {
  border-radius: 50px;
  animation-name: hit;
  animation-duration: 0.25s;
}
.blutschuss {
  height: 3%;
  width: 3%;
  border-radius: 50px;
  
  /* Aussehen */
  background-image: url(img/blutzelle.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* Positionierung */ 
  position: absolute;
}

.luftschuss {
  height: 3%;
  width: 3%;
  border-radius: 50px;
  
  /* Aussehen */
  background-image: url(img/lunge.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* Positionierung */ 
  position: absolute;
}

.augenschuss {
  height: 3%;
  width: 3%;
  border-radius: 50px;
  
  /* Aussehen */
  background-image: url(img/auge.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* Positionierung */ 
  position: absolute;
}

.box_level {
  border-radius: 20px;
}

#box_level_1 {
  background-image: url(img/map_1.png);
  background-size: 100% 100%;
}

#box_level_2 {
  background-image: url(img/map_2.png);
  background-size: 100% 100%;
}

#box_level_3 {
  background-image: url(img/map_3.png);
  background-size: 100% 100%;
}

#box_level_4 {
  background-image: url(img/map_4.png);
  background-size: 100% 100%;
}

#box_level_5 {
  background-image: url(img/map_5.png);
  background-size: 100% 100%;
}

#box_level_6 {
  background-image: url(img/map_6.png);
  background-size: 100% 100%;
}

#box_level_7 {
  background-image: url(img/map_7.png);
  background-size: 100% 100%;
}

#box_schloss {
  background-color: brown;
  background-image: url(img/schloss.png);
  background-size: 100% 100%;
}

@keyframes hit {
  0% {background-color: rgba(255, 0, 0, 0); transform: scale(1.0);}
  50% {background-color: rgba(255, 0, 0, 0.685); transform: scale(0.75);}
  100% {background-color: rgba(255, 0, 0, 0); transform: scale(1.0);}
}

@keyframes pulse {
  0% {transform: scale(1.0);}
  50% {transform: scale(1.2);}
  100% {transform: scale(1.0);}
}

}